<!-- skill-profile.component.html -->
<div
  class="bg-primary p-4 md:p-8 rounded-2xl max-w-3xl mx-auto space-y-6 md:space-y-8 overflow-auto h-[75vh] cursor-all-scroll hide-scrollbar"
>
  <!-- Header -->
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4"
  >
    <h2 class="text-xl md:text-2xl font-bold text-light-100">Skill Profile</h2>
    <div class="text-light-200 text-sm md:text-base">
      <span class="text-gray-50 px-2 font-semibold text-lg ">{{ completionPercentage }}%</span> complete
    </div>
  </div>

  <form
    [formGroup]="profileForm"
    (ngSubmit)="saveProfile()"
    class="space-y-6 md:space-y-8"
  >
    <!-- Personal Section -->
    <div class="space-y-4 md:space-y-6 border-b border-light-200/20 pb-4 md:pb-6">
      <h3
        class="text-base md:text-lg font-semibold text-light-100 flex items-center gap-2 md:gap-3"
      >
        <ng-icon
          name="ionPerson"
          class="text-primary text-lg md:text-xl"
        ></ng-icon>
        Personal Information
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
        <!-- Name Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Full Name <span class="text-primary">*</span></label
          >
          <input
            type="text"
            formControlName="name"
            class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
            placeholder="John Doe"
          />
          <div
            *ngIf="profileForm.get('name')?.errors?.['required']"
            class="text-green-500 text-xs mt-1"
          >
            Required field
          </div>
        </div>

        <!-- Email Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Email Address</label
          >
          <input
            type="email"
            formControlName="email"
            class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
            placeholder="john@example.com"
          />
        </div>
      </div>
    </div>

    <!-- Professional Section -->
    <div class="space-y-4 md:space-y-6 border-b border-primary/20 pb-4 md:pb-6">
      <h3
        class="text-base md:text-lg font-semibold text-light-100 flex items-center gap-2 md:gap-3"
      >
        <ng-icon
          name="ionBriefcase"
          class="text-primary text-lg md:text-xl"
        ></ng-icon>
        Professional Details
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
        <!-- Role Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Job Role</label
          >
          <input
            type="text"
            formControlName="role"
            class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
            placeholder="Software Engineer"
          />
        </div>

        <!-- Location Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Location</label
          >
          <input
            type="text"
            formControlName="location"
            class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
            placeholder="City, Country"
          />
        </div>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="space-y-4 md:space-y-6 border-b border-primary/20 pb-4 md:pb-6">
      <h3
        class="text-base md:text-lg font-semibold text-light-100 flex items-center gap-2 md:gap-3"
      >
        <ng-icon
          name="ionStatsChart"
          class="text-primary text-lg md:text-xl"
        ></ng-icon>
        Skills & Experience
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
        <!-- Skills Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Technical Skills</label
          >
          <div class="flex gap-2">
            <input
              #skillInput
              type="text"
              class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
              placeholder="Add skill"
              (keyup.enter)="addSkill(skillInput)"
            />
            <button
              type="button"
              class="px-2 md:px-3 bg-light-100/80 cursor-pointer text-primary rounded-lg hover:bg-light-100/70 transition-colors text-sm md:text-base"
              (click)="addSkill(skillInput)"
            >
              Add
            </button>
          </div>
          <div class="flex flex-wrap gap-2 mt-2">
            <div
              *ngFor="let skill of skillsFormArray.controls; let i = index"
              class="px-2 bg-light-100 text-dark-100 md:px-2 py-1 md:py-0.5  rounded-sm flex items-center gap-1 md:gap-2 cursor-pointer text-sm md:text-md"
            >
              {{ skill.value }}
              <button
                type="button"
                class="text-primary/50 hover:text-primary text-xs"
                (click)="removeSkill(i)"
              >
                ×
              </button>
            </div>
          </div>
        </div>

        <!-- Experience Input -->
        <div class="space-y-2">
          <label class="text-xs md:text-sm font-medium text-light-200"
            >Years of Experience</label
          >
          <input
            type="number"
            formControlName="experience"
            class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/50 focus:border-primary focus:ring-2 focus:ring-primary/20 text-sm md:text-base"
            min=""
          />
          <div
            *ngIf="profileForm.get('experience')?.errors?.['min']"
            class="text-gray-100 text-xs mt-1"
          >
            Minimum 0 years
          </div>
        </div>
      </div>
    </div>

    <!-- Summary -->
    <div class="space-y-2">
      <label class="text-xs md:text-sm font-medium text-light-200"
        >Professional Summary</label
      >
      <textarea
        formControlName="summary"
        class="w-full px-3 md:px-4 py-2 md:py-3 rounded-lg bg-dark-100 border-2 border-primary/10 text-light-100/40 focus:border-primary focus:ring-2 focus:ring-primary/20 h-32 text-sm md:text-base"
        placeholder="Describe your professional experience and achievements..."
      ></textarea>
    </div>

    <!-- Form Actions -->
    <div
      class="flex flex-col md:flex-row justify-end gap-3 md:gap-4 pt-4 md:pt-6"
    >
      <button
        type="button"
        class="w-full md:w-auto px-4 py-2 md:px-6 md:py-2.5 rounded-lg bg-light-100/20 text-light-100 hover:bg-light-200/20 transition-colors text-sm md:text-base"
        (click)="clearForm()"
      >
        Reset
      </button>
      <button
        type="submit"
        class="w-full md:w-auto px-4 py-2 md:px-6 md:py-2.5 rounded-lg bg-dark-100 text-light-100 hover:bg-primary/90 transition-colors text-sm md:text-base"
        [disabled]="!profileForm.valid"
      >
        Save Profile
      </button>
    </div>

    <!-- Success Message -->
    <div
      *ngIf="successMessage"
      class="text-center text-light-200 pt-3 md:pt-4 text-sm md:text-base"
    >
      {{ successMessage }}
    </div>
  </form>
</div>
